header{
  height: 4em;
  border-bottom: 2px solid;
  
  a {
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}

