<app-content-pane>
    <h1>Impressum / Imprint</h1>

    <p>English Version <a href="/imprint#english-imprint">below</a></p>

    <h4>Angaben gem. § 5 TMG:</h4>
    <p>Vorname, Name</p>
    <p>Adresse</p>
    <p>PLZ</p>

    <h4>Kontaktaufnahme:</h4>
    <p>Telefon:</p>
    <p>Fax:</p>
    <p>E-Mail:</p>

    <h3>Umsatzsteuer-ID</h3>
    <p>-</p>
    <h4>Umsatzsteuer-Identifikationsnummer gem. § 27 a Umsatzsteuergesetz:</h4>
    <p>DE XXX XXX XXX</p>

    <h3>Haftungsausschluss - Disclaimer:</h3>
    <h4>Haftung für Inhalte</h4>

    <p>Alle Inhalte unseres Internetauftritts wurden mit größter Sorgfalt und nach bestem Gewissen erstellt. Für die
        Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als
        Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
        verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
        gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
        Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
        allgemeinen Gesetzen bleiben hiervon unberührt.</p>
    <p>Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntniserlangung einer konkreten Rechtsverletzung 
        möglich. Bei Bekanntwerden von den o.g. Rechtsverletzungen werden wir diese Inhalte unverzüglich entfernen.</p>

    <h4>Haftungsbeschränkung für externe Links</h4>

    <p>Unsere Webseite enthält Links auf externe Webseiten Dritter. Auf die Inhalte dieser direkt oder indirekt
        verlinkten Webseiten haben wir keinen Einfluss. Daher können wir für die „externen Links“ auch keine Gewähr auf 
        Richtigkeit der Inhalte übernehmen. Für die Inhalte der externen Links sind die jeweilige Anbieter oder Betreiber 
        (Urheber) der Seiten verantwortlich.</p>
    <p>Die externen Links wurden zum Zeitpunkt der Linksetzung auf eventuelle Rechtsverstöße überprüft und waren im
        Zeitpunkt der Linksetzung frei von rechtswidrigen Inhalten. Eine ständige inhaltliche Überprüfung der externen
        Links ist ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht möglich. Bei direkten oder indirekten Verlinkungen
        auf die Webseiten Dritter, die außerhalb unseres Verantwortungsbereichs liegen, würde eine Haftungsverpflichtung
        ausschließlich in dem Fall nur bestehen, wenn wir von den Inhalten Kenntnis erlangen und es uns technisch
        möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.</p>
    <p>Diese Haftungsausschlusserklärung gilt auch innerhalb des eigenen Internetauftrittes „<em>Name Ihrer Domain</em>“
        gesetzten Links und Verweise von Fragestellern, Blogeinträgern, Gästen des Diskussionsforums. Für illegale,
        fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung
        solcherart dargestellten Informationen entstehen, haftet allein der Diensteanbieter der Seite, auf welche
        verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</p>
    <p>Werden uns Rechtsverletzungen bekannt, werden die externen Links durch uns unverzüglich entfernt.</p>

    <h4>Urheberrecht</h4>

    <p>Die auf unserer Webseite veröffentlichen Inhalte und Werke unterliegen dem deutschen Urheberrecht
        (<a href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>). 
        Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung des geistigen Eigentums in ideeller
        und materieller Sicht des Urhebers außerhalb der Grenzen des Urheberrechtes bedürfen der vorherigen schriftlichen
        Zustimmung des jeweiligen Urhebers i.S.d. Urhebergesetzes 
        (<a href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>).
        Downloads und Kopien dieser Seite sind nur für den privaten und nicht kommerziellen Gebrauch erlaubt. Sind
        die Inhalte auf unserer Webseite nicht von uns erstellt wurden, sind die Urheberrechte Dritter zu beachten. Die
        Inhalte Dritter werden als solche kenntlich gemacht. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam
        werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir
        derartige Inhalte unverzüglich entfernen.</p>
    <p>Dieses <a href="http://www.jurarat.de/muster-impressum">Impressum</a> wurde freundlicherweise von www.jurarat.de
        zur Verfügung gestellt.</p>

    <app-divider></app-divider>
    
    <h4 id="english-imprint">Attention the following sections have been translated by machine, therefore only the german version is legally valid.</h4>

    <h4>Information according to § 5 TMG:</h4>
    <p>First name, last name</p>
    <p>Address</p>
    <p>POSTCODE</p>

    <h4>Contact:</h4>
    <p>Phone:</p>
    <p>Fax:</p>
    <p>E-mail:</p>

    <h3>VAT ID</h3>
    <p>-</p>
    <h4>Sales tax identification number according to § 27 a Sales Tax Act:</h4>
    <p>DE XXX XXX XXX</p>

    <h3>Disclaimer:</h3>
    <h4>Liability for contents</h4>

    <p>All content of our website have been created with the greatest care and to the best of our knowledge.
        However, we cannot assume any liability for the correctness, completeness and up-to-dateness of the contents.
        As service provider, we are responsible for our own content on these pages in accordance with § 7 Para. 1 TMG.
        However, according to §§ 8 to 10 TMG, we are not obliged as a service provider to monitor transmitted or stored 
        third-party information or to investigate circumstances that indicate illegal activity. 
        Obligations to remove or block the use of information in accordance with general laws remain unaffected by this.</p>
    <p>However, liability in this respect shall only arise from the point in time at which knowledge of a specific
        infringement possible. Upon becoming aware of the above-mentioned infringements, we will remove this content immediately.</p>

    <h4>Limitation of liability for external links</h4>

    <p>Our website contains links to external websites of third parties. The contents of these directly or indirectly linked we 
        have no influence on the contents of these directly or indirectly linked websites. Therefore, we cannot guarantee the 
        correctness of the content of the external links. The respective providers or operators (authors) of the external links 
        are responsible for the contents of the responsible for the contents of the external links.</p>

    <p>The external links were checked for possible legal violations at the time of linking and were free of illegal content at 
        the time of linking. A constant review of the contents of the external links is not possible without concrete indications 
        of a violation of the law. In the case of direct or indirect links to the websites of third parties that lie outside our 
        sphere of responsibility, a liability obligation would only exist if we were aware of the content and it would be technically 
        possible and and it would be technically possible and reasonable for us to prevent use in the event of illegal content.</p>

    <p>This disclaimer also applies to links and references placed by questioners, bloggers, guests of the discussion forum within 
        our own Internet presence "<em>Name of your domain</em>". For illegal, or incomplete content and in particular for damages 
        arising from the use or non-use of such information. use or non-use of such information, the service provider of the linked 
        page alone shall be liable. referred to not the party who merely refers to the respective publication via links.</p>

    <p>If we become aware of any legal violations, we will remove the external links immediately.</p>

    <h4>Copyright</h4>

    <p>The contents and works published on our website are subject to german copyright law 
        (<a href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>).
        The reproduction, adaptation, distribution and any kind of exploitation of the intellectual property in idealistic
        and material view of the author outside the limits of copyright law require the prior written consent of the
        respective author within the meaning of the copyright law
        (<a href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>). 
        Downloads and copies of this page are only permitted for private and non-commercial use. 
        If the content on our website was not created by us, the copyrights of third parties must be observed. 
        The contents of third parties will be identified as such. Should you nevertheless become aware of a copyright infringement, 
        please inform us accordingly. If we become aware of any infringements, we will remove such content immediately.</p>

    <p>This <a href="http://www.jurarat.de/muster-impressum">imprint</a> was kindly provided by www.jurarat.de.</p>

</app-content-pane>