@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $foreground-palette: map.get($color-config, foreground);

  footer {
    // Read the 500 hue from the primary color palette.
    background-color: mat.get-color-from-palette($primary-palette, 500);

    span, a, a:visited {
        color: mat.get-color-from-palette(map.get($primary-palette, contrast), 500);
    }
  }
}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  footer, a {
    font-family: mat.font-family($typography-config);
  }
  
  a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}