<app-content-pane id="home" [centered]="true">

    <a mat-stroked-button color="primary" routerLink="editor">
        <span>New Game</span>
    </a>

    <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
        <mat-label>Enter Game</mat-label>
        <input matInput type="text" [(ngModel)]="id" placeholder="Game ID" (keyup.enter)="enterGame()" autofocus>
        <button matSuffix mat-icon-button aria-label="Value" (click)="enterGame()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-form-field>

    <a mat-stroked-button color="primary" routerLink="rules">
        <span>Rules</span>
    </a>
    
    <a mat-stroked-button color="primary" routerLink="strategies">
        <span>Strategies</span>
    </a>
</app-content-pane>