<app-content-pane>
    <h1>Rules</h1>
    <p>Every row, column and nonet must contain every number from 1 to 9 exactly once.</p>
    <img src="../../../assets/img/sudoku-grid-region.png" alt="Sudoku Grid Regions" />
    <mat-divider></mat-divider>
    <p>All numbers in a cage must sum up to the value given in the top left corner of that cage and be unique inside
        that cage.</p>
    <img src="../../../assets/img/sudoku-grid-cage.svg" alt="Sudoku Grid Cage" />
    <p>For example a cage with value 4 has the valid combination of 1 and 3, 2 and 2 is not allowed.</p>
</app-content-pane>